{% extends 'base.html.twig' %}

{% block body %}
    <section class="articles">
        <article>
            <h2>Titre de l'article</h2>
            <div class="metadata">Ecrit le 12 juillet à 18h tags: test category test
                <div class="content">
                    <img src="http://placehold.it/350x150" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis beatae nihil iure dolores exercitationem rem.Ullam soluta aut quo laborum impedit eligendi et sint. Maxime iusto vel ipsa, quod totam?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio temporibus error, excepturi distinctio animi sapiente accusamus, velit culpa quis sed ad, perspiciatis cupiditate impedit amet deserunt? Dolores harum minima animi deserunt sed dolorem commodi asperiores eius, ut dolorum, necessitatibus quidem.</p>
                    <p>Impedit veritatis debitis minima itaque quae necessitatibus aperiam beatae, veniam aliquam eius inventore ea voluptatum atque saepe, quasi voluptas nemo, delectus enim deserunt. Voluptatem neque facilis aspernatur natus delectus laborum eaque voluptas non reiciendis iste, repudiandae aliquam sunt atque, explicabo.</p>
                </div>
            </div>
        </article>
    </section>
{% endblock %}
